[submodule "WizardInterface/Assets/ASAPToolkitUnity"]
	path = WizardInterface/Assets/ASAPToolkitUnity
	url = https://github.com/ArticulatedSocialAgentsPlatform/ASAPToolkitUnity.git
[submodule "COUCHUnityProject/Assets/ASAPToolkitUnity"]
	path = COUCHUnityProject/Assets/ASAPToolkitUnity
	url = https://github.com/ArticulatedSocialAgentsPlatform/ASAPToolkitUnity.git
[submodule "OculusQuest/Assets/ASAPToolkitUnity"]
	path = OculusQuest/Assets/ASAPToolkitUnity
	url = https://github.com/ArticulatedSocialAgentsPlatform/ASAPToolkitUnity.git
[submodule "Assets/ASAPToolkitUnity"]
	path = AgentsUnitedDemo/Assets/ASAPToolkitUnity
	url = https://github.com/ArticulatedSocialAgentsPlatform/ASAPToolkitUnity.git
